<div class="container footer">
    <div class="row">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<ul>
            	<li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Cookie policy</a></li>
                <li>© 2013 - all rights reserved</li>
            </ul>
        </div>
    </div>
    </div>